body {
    font-family: "微软雅黑";
    font-size: 16px;
}

#content {
    max-height: 640px;
    /*width: 100%;*/
    background-size: cover;
}

#articlePicture img {
    height: 640px;
    object-fit: cover;
    width: 100%;
}

.smallArticlePictures {
    right: 6%;
    top: 620px;
    position: absolute;
    width: 600px;
    height: 110px;
}

.smallPictures {
    float: left;
    margin-right: 10px;
    width: 110px;
    height: 110px;
    overflow: hidden;
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;*/
}

.smallPictures img {
    object-fit: cover;
    width: 110px;
    height: 110px;
}

.smallPictures:hover {
    border: 3px #FFFFFF solid;
}

#footer {
    height: 70px;
}

#articleInfo {
    position: absolute;
    width: 50%;
    left: 16%;
    top: 400px;
    color: #000000;
}

#showArticle {
    width: 100px;
    background: transparent;
    border-radius: 0px;
    border: 1px #000000 solid;
}

#showArticle:hover {
    color: white;
}

.icon {
    height: 36px;
    margin: 20px 5px 0px 0px;
}

#info {
    margin: 5px 0px 20px 20px;
    color: rgb(198, 198, 198);
    font-size: 12px;
}